<h2>Hello, {{clientName}}</h2>
<p>
    You have recieved a new proposal on you job <strong>{{jobTitle}}</strong>
    from <strong>{{freelancerName}}</strong>
</p>
<p>Please log in in your to your account to review the proposal</p>
