<h2 style="text-align: center;">Hello, {{freelancerName}}</h2>
<p>Status of the proposal on <strong>{{jobTitle}}</strong> have changed.</p>
<p>The proposal is <strong>{{jobStatus}}</strong></p>
<p>Please log in to your account for more details.</p>